@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

ion-content {
    --background: none;
    background-image: url("/assets/icon/splashscreen_bg.svg");
    background-size: cover;
    min-height: 10vh;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
  }
  
  .splash-container {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .splashscreen-image {
    width: 70%;
  }
  
  .splash-devs {
    bottom: 0;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: var(--white);
    font-size: 13px;
  }
  
  // @-webkit-keyframes rotate-in-center{0%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);opacity:0}100%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}@keyframes rotate-in-center{0%{-webkit-transform:rotate(-360deg);transform:rotate(-360deg);opacity:0}100%{-webkit-transform:rotate(0);transform:rotate(0);opacity:1}}
  
  // .container{
  //     -webkit-animation:rotate-in-center .6s cubic-bezier(.25,.46,.45,.94) both;animation:rotate-in-center .6s cubic-bezier(.25,.46,.45,.94) both;
  //     .img1{
  //         width: 70%;
  //         height: 70%;
  //         margin-top: 80%;
  //     }
  // }