<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back" (click)="dismiss()" defaultHref></ion-icon>
    </ion-buttons>
    <ion-title>Add Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <img class="img1" src="/assets/icon/notes.jpg" alt="Rectangle-219-1" border="0">
  
   <!-- Create -->
   <ion-item>
    <ion-label>Title</ion-label>
    <ion-input [(ngModel)]="nameVal"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label>Content</ion-label>
    <ion-textarea [(ngModel)]="emailVal"></ion-textarea>
  </ion-item>

  <div class="centered">
    <ion-button class="btn" expand="block" (click)="createUser()">
      Save
    </ion-button>
  </div>

