<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon name="chevron-back" (click)="dismiss()" defaultHref></ion-icon>
    </ion-buttons>
    <ion-title>Add Task</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <img class="img1" src="/assets/icon/notes.jpg" alt="Rectangle-219-1" border="0">

  <!-- <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-item>
      <ion-label position="floating">Task</ion-label>
      <ion-input [(ngModel)]="data.title" name="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">SubTitle</ion-label>
      <ion-input [(ngModel)]="data.subtitle" name="subtitle"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Content</ion-label>
      <ion-input [(ngModel)]="data.content" name="content"></ion-input>
    </ion-item>
    
    <ion-button expand="block" type="submit">{{isUpdate ? 'Update' : 'Save'}}</ion-button>

  </form> -->

   <!-- Create -->
   <ion-item>
    <ion-label position="floating">Name</ion-label>
    <ion-input [(ngModel)]="nameVal"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input [(ngModel)]="emailVal"></ion-input>
  </ion-item>

  <ion-button color="success" expand="block" (click)="createUser()">
    Add User
  </ion-button>

