ion-title{
  font-family: 'DM Sans';
  font-weight: bold;
  text-align: center;
  color: var(--black);
}

ion-header,
ion-toolbar {
  --background: var(--main-yellow);
}

.add-task{
  /*--background: #3dc2ff;*/
  --background: var(--dark-yellow);
}

.img1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 30%;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.empty-text {
  color: var(--black);
  text-align: center;
  margin-top: 105%;
  font-family: 'DM Sans';
}