ion-title{
  font-family: 'DM Sans';
  font-weight: bold;
  text-align: center;
  color: var(--black);
}

ion-header,
ion-toolbar {
  --background: var(--main-yellow);
}

.add-task{
  /*--background: #3dc2ff;*/
  --background: var(--dark-yellow);
}

.img1 {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: 30%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.empty-text {
  color: var(--black);
  text-align: center;
  margin-top: 80%;
  font-family: 'DM Sans';
}

.title {
  font-size: 80%;
}


.subtitle {
  font-size: 80%;
 
}

.content {
  font-size: 80%;

}
 

#container {
  padding: 5px;
  columns: 2;
  column-gap: 5px;
}

ion-card {
  width: 90%;
  margin: 10px 10px 0px 10px;
  break-inside: avoid;
  background-color: var(--light-yellow);
}


