<ion-header>
  <ion-toolbar>
    <ion-title>
      TO-DO LIST
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<img class="img1" src="/assets/icon/notes.jpg" alt="Rectangle-219-1" border="0">
    <div class="center">
      <h4 class="empty-text">Add a task to get started.</h4>
    </div>-->

  <!-- List of Notes -->
   <div id = "container">
    <ion-list *ngFor="let user of crud.USERS">
        <ion-card>
          <ion-card-content>
            <h1 class="title"> {{ user.name }} </h1>
            <h2 class = "subtitle"> {{ user.email }}</h2>
            <!-- <h3 class = "content"> {{'Content: ' + task.content}}</h3> -->
            <ion-icon class="delete" name="trash" (click)="remove(user.user_id)"> </ion-icon>
            <ion-icon class="update" name="create-outline"  [routerLink]="['/edit/', user.user_id]"> </ion-icon>
          </ion-card-content>
        </ion-card>
    </ion-list>
  </div> 

   <!-- fab placed to the bottom and start and on the bottom edge of the content overlapping footer with a list to the right -->
   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="add-task" (click)="addtaskmodal()"> <ion-icon class="icon" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
